/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: #161715;
  --color-background: #f7f7f7;

  --padding: 1em;
  --border-radius: 1em;
  --font-size-heading: 2em;
  --margin: 1em;
  --max-width: 50%;
  --gap-small: 1em;
  --gap-large: 2em;
}


/*********/
/* FONTS */
/*********/
@font-face {
  font-family: "PP-Mori-Regular";
  src: url("../font/PPMori-Regular.b106d8fe.woff2") format("woff2");
}

@font-face {
  font-family: "PP-Mori-Light";
  src: url("../font/PPMori-Light.0f42b11c.woff2") format("woff2");
}


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-background);
  overflow-x: hidden;
}


/**************/
/* TYPOGRAPHY */
/**************/
h1,
h2,
h3,
a,
li,
h4,
p,
button {
  margin-bottom: 0.5em;
}

h1,
h4,
p,
button {
  font-family: "PP-Mori-Light";
}

h2,
h3,
a,
li {
  font-family: "PP-Mori-Regular";
}

h1 {
  font-size: clamp(2em, 5vw + 1em, 4em);
  text-align: left;
}

h2,
h3,
a,
li {
  font-size: clamp(1.5em, 3vw + 1em, 2.5em);
}

h4,
p,
button {
  font-size: clamp(0.9em, 2vw + 0.5em, 1.2em);
  line-height: 1.6;
}


/****************/
/* LOGO STYLING */
/****************/
#logo {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 1001;
  display: inline-block;
  mix-blend-mode: difference;
  filter: invert();
  width: 6em;
}


/******************/
/* HAMBURGER MENU */
/******************/
.hamburger {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger svg {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: var(--color-text);
  position: absolute;
}

.unchecked {
  opacity: 1;
}

.checked {
  opacity: 0;
}

/* Hide the checkbox input */
#toggle {
  display: none;
}


/***********************/
/* HAMBURGER ANIMATION */
/***********************/
#toggle:checked + .hamburger .unchecked {
  opacity: 0;
}

#toggle:checked + .hamburger .checked {
  opacity: 1;
}


/****************/
/* MENU STYLING */
/****************/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0; /* Set back to 0 for animation */
  background-color: var(--color-text);
  overflow: hidden;
  z-index: 999;
  transition: height 0.3s ease-in-out;
  display: grid;
  grid-template-rows: repeat(3, auto); /* Allow three rows for links */
}

.nav li {
  list-style: none;
}

.nav a {
  top: 1em;
  color: var(--color-background);
  font-size: clamp(1.8em, 3vw + 1em, 2.3em);
  text-decoration: none; /* Ensure no underline */
  opacity: 0; /* Start hidden for animation */
}

/* Show menu items on toggle */
#toggle:checked + .hamburger + .nav {
  height: 100%; /* Expand the menu */
}

#toggle:checked + .hamburger + .nav a {
  opacity: 0.9; /* Fade in items */
}


/*******************************************/
/* HOVER EFFECT WITH WHITE LINE UNDER LINK */
/*******************************************/
nav a {
  position: relative;
  display: inline-block;
}

nav a::after {
  content: ""; /* To have space for the underline */
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color-background);
  bottom: 0;
  left: 0;
}

nav a:hover::after {
  width: 100%;
}


/************************/
/* MAIN CONTENT STYLING */
/************************/
main,
section {
  display: grid;
  gap: var(--gap-large);
  margin: 0 auto;
  padding: 0 2em;
  max-width: 100%;
}

main {
  grid-template-columns: 1fr;
}

main > h1 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header button,
footer button {
  background-color: var(--color-background);
  border: none;
  display: grid;
}

/* So that the arrow is going the other way */
footer button:not(:first-child) {
  transform: rotate(180deg);
}


/*****************/
/* VIDEO STYLING */
/*****************/
video {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 2em 0;
}

#firstVideo {
  position: relative;
}


/***************/
/* GRID LAYOUT */
/***************/
article {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  max-width: 100%;
}


/******************************/
/* INDUSTRIES SECTION STYLING */
/******************************/
.industries {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.left-content {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/****************/
/* LIST STYLING */
/****************/
.industries-list {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

/**************************/
/* BRANDS SECTION STYLING */
/**************************/
.brands {
  padding: 2em 0;
}

.brands-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-small);
}

.brands-logos img {
  width: 100%;
  height: auto;
  display: block;
}


/************/
/* CAROUSEL */
/************/
.carousel-wrapper {
  position: relative;
  overflow: hidden; /* Hide overflow to ensure no content spills out */
  width: 100%; /* Full width for responsiveness */
  max-width: 50em; /* So that the items don't go further then their view on bigger screen */
}

.carousel-list {
  display: flex; /* For horizontal layout */
  transition: 0.5s ease; /* Smooth transition for sliding */
}

.carousel-list ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; /* Remove list bullets */
  width: 100%; /* Ensure ul takes full width */
}

.carousel-list li {
  flex: 0 0 100%; /* Each item takes full width of the carousel view by default */
  padding: 2em; /* So that the buttons don't overlap the text */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* The buttons */
.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2em;
  color: var(--color-text);
  padding: 0 1em;
  z-index: 100; /* Ensure nav buttons are above the content */
}

.carousel-nav.left {
  left: 0;
}

.carousel-nav.right {
  right: 0;
}

.carousel-list p {
  font-size: 1em; /* Adjust font size for readability */
}

.carousel-list h3 {
  font-size: 1em;
}

.carousel-list h4 {
  font-size: 0.8em;
}


/**********/
/* AWARDS */
/**********/
.awards-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--gap-large);
}

.awards-card {
  background-color: var(--color-text); /* Black background */
  color: var(--color-background); /* White text */
  border-radius: var(--border-radius);
  padding: var(--padding);
  max-width: 64em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; /* Stack header and paragraph vertically by default */
  gap: var(--gap-small);
}

.awards-text {
  text-align: left;
}

.awards-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  gap: var(--gap-small);
}

.awards-images img {
  width: 100%;
}


/***************/
/* RECENT WORK */
/***************/
ol {
  display: grid;
  grid-template-columns: 1fr; /* On small screens, stack items vertically */
  gap: var(--gap-large);
}

ol li {
  list-style-type: none;
}

/* General styles for images and text */
ol li img {
  width: 100%; /* Make the image take up the full width of the list item */
  height: auto; /* Maintain aspect ratio */
}

ol li h3 {
  font-size: 1em;
}

ol li p {
  font-size: 0.8em; /* Paragraph size */
}

/* Parent container */
.containerButton {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 100%; /* Prevents button from going wider then container */
  box-sizing: border-box;
}

/* Button styling */
#viewButton,
#sayButton {
  height: 4.24em;
  line-height: calc(4.25em - 4px + 0.125em);
  border-radius: var(--border-radius);
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
  border: 2px solid var(--color-text);
  background-color: var(--color-text);
  color: var(--color-background);
}


/***************/
/* HOW WE WORK */
/***************/
/* Ensure video takes full width of its container */
.stacked-items li video {
  width: 100%;
  height: auto;
}


/****************/
/* SOCIAL MEDIA */
/****************/
section {
  padding: 2em 0;
}

/* Styles for the ordered list */
.team-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-large);
}

/* Styles for the list items */
.team-list li {
  background-color: white;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  font-size: 1em;
  padding: var(--padding);
}

.team-list li p,
.team-list li a {
  font-size: 1.5em;
  padding: var(--padding);
  color: var(--color-text);
}

/* Style for images or GIFs */
.team-list li img {
  max-width: 10em;
  border-radius: 50%;
}


/**********/
/* FOOTER */
/**********/
#letsWork {
  display: flex;
  justify-content: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto; /* Left column for copyright, right for social media */
  align-items: end;
  max-width: 100%;
}

/* Social media links */
.social-media {
  display: flex;
  gap: var(--gap-small);
  justify-self: end;
  list-style-type: none;
}

.social-media svg {
  height: 0.5em;
  width: auto;
}


/**********************/
/* EXTRA FOR WORKPAGE */
/**********************/
img {
  width: 100%;
}

/* Apply border-radius to all but the first child image and video */
img:not(:first-child),
video:not(:first-child),
.media-container img,
.media-container video {
  border-radius: var(--border-radius);
}

/* Padding for section */
.cobot-section {
  padding: var(--padding);
}

/* Heading styling within cobot-section */
.cobot-section h2 {
  font-size: var(--font-size-heading);
  margin-bottom: var(--margin);
}

/* Paragraph styling within cobot-section */
.cobot-section p {
  margin-bottom: var(--margin);
}

/* Grid layout for media container */
.media-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-small);
}

/* Centered quote styling */
.quote {
  display: grid;
  place-items: center; /* Center content both horizontally and vertically */
  text-align: center;
}

.quote p {
  max-width: var(--max-width); /* Limit the width of the paragraph */
}


/****************************************/
/* @MEDIA / RESPONSIVE FOR LARGE SCREEN */
/****************************************/
@media (min-width: 64em) /* Macbook measurements */ {
  .main-header {
    flex-direction: column;
    gap: var(--gap-small);

    margin-right: auto;
  }

  /* All the articles that display text on one side and video on the other */
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  article:nth-of-type(odd) {
    grid-template-areas: "text video";
  }

  article:nth-of-type(even) {
    grid-template-areas: "video text";
  }

  article video {
    grid-area: video;
    border-radius: var(--border-radius);
  }

  .text-header,
  .text-content {
    grid-area: text;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .text-content {
    padding-top: 7em; /* To make the p go below the header */
  }

  /* The industries section */
  .industries {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-large);
  }

  .industries ul {
    list-style-position: inside; /* Makes the bullet point go inside the list item (First element) */
    padding-left: 0;
  }

  .industries h3 {
    font-size: clamp(1.6em, 3vw + 0.5em, 2em);
    margin: 0.5em 0;
  }

  .industries p {
    font-size: clamp(1em, 2vw + 0.5em, 1.2em);
    margin: 0.5em 0;
  }

  .left-content {
    justify-content: center;
    max-width: var(--max-width);
  }

  .right-content {
    margin-left: 5em;
  }

  /* The numbers of brand-ups etc. */
  .industries-article {
    display: flex;
  }

  .industries-list {
    display: flex;
    width: 100%;
  }

  .industries-list li {
    text-align: center;
  }

  /* Carousel for the comments from different clients */
  .carousel-list li {
    flex: 0 0 20%; /* Set a specific width for each carousel item */
    margin: 0 1.5%; /* Add margin to space out cards */
  }

  .carousel-list p {
    max-width: 90%; /* Restrict the text width to prevent overflow */
  }

  .awards-card {
    grid-template-columns: 2fr 1fr; /* 2 parts for text and 1 for images */
    align-items: flex-start;
  }

  .awards-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: var(--margin);
  }

  ol {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row on larger screens */
  }

  .stacked-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-large);
  }

  .team-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .media-container {
    grid-template-columns: 1fr 1fr; /* Two columns side by side */
    grid-auto-rows: auto; /* Automatically size rows based on content */
  }

  /* Specific styles for the two videos to appear side by side on work page */
  .video-pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2; /* Allow the video pair to span both columns */
    gap: var(--gap-small);
  }
}